@{
    ViewData["Title"] = "Home Page";
}


    <div id="indexdiv" class="text-center">
        <h1 class="display-4">Welcome To Travel Experts</h1>
        <p>Register with us to book your travel experience and keep track of upcoming trips.</p>
        <img src="~/Images/pexels-element-digital-1051077.jpg" width="800" height="auto"/>
    </div>
