@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Travel Experts</h1>
    <p>Register with us to book your travel experience and keep track of upcoming trips.</p>
</div>
