/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* Provide sufficient contrast against white background */

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

header {
    position: absolute;
    top: 0px;
    height: 70px;
    width: 100%;
    white-space: nowrap;
    background-color: #516d7e;
    vertical-align: central;
}


body {
    /* Margin to account for header/footer heights */
    margin-top: 70px;
    margin-bottom: 60px;
    background-color: #dee2dd;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 12px;
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #516d7e;
    color: aliceblue;
}

/*Navigation*/
@import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");

:root {
    --color-primary: #0e2f44;
    --color-secondary: #F0F7EE;
    --duration: 1s;
    --nav-duration: calc(var(--duration) / 4);
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --space: 1rem;
    --font-primary: "Helvetica", sans-serif;
    --font-heading: "Merriweather", serif;
    --font-size: 1.125rem;
    --line-height: 1.5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

h1 {
    margin-bottom: calc(var(--space) * 3);
    font-family: var(--font-heading);
    font-size: calc(var(--font-size) + 6vmin);
    line-height: calc(var(--line-height) / 1.25);
}

.main-navigation-toggle {
    position: fixed;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

    .main-navigation-toggle + label {
        position: fixed;
        top: calc(var(--space) * 1.5);
        right: calc(var(--space) * 2);
        cursor: pointer;
        z-index: 2;
    }

.icon--menu-toggle {
    --size: calc(1rem + 4vmin);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    stroke-width: 6;
}

.icon-group {
    transform: translateX(0);
    transition: transform var(--nav-duration) var(--ease);
}

.icon--menu {
    stroke: var(--color-primary);
}

.icon--close {
    stroke: var(--color-secondary);
    transform: translateX(-100%);
}

.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform var(--nav-duration);
    z-index: 1;
}

    .main-navigation:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-primary);
        transform-origin: 0 50%;
        z-index: -1;
    }

    .main-navigation ul {
        font-size: 12vmin;
        font-family: var(--font-heading);
        width: 100%;
    }

    .main-navigation li {
        --border-size: 1vmin;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

        .main-navigation li:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: var(--border-size);
            background-color: var(--color-secondary);
            transform-origin: 0 50%;
            transform: translateX(-100%) skew(15deg);
        }

    .main-navigation a {
        display: inline-block;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        color: var(--color-secondary);
        line-height: 1;
        text-decoration: none;
        user-select: none;
        padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
        transform: translateY(100%);
    }

.main-content {
    margin: 6rem auto;
    max-width: 70ch;
    padding: 0 calc(var(--space) * 2);
    transform: translateX(0);
    transition: transform calc(var(--nav-duration) * 2) var(--ease);
}

    .main-content > * + * {
        margin-top: calc(var(--space) * var(--line-height));
    }

.main-navigation-toggle:checked ~ label .icon--menu-toggle .icon-group {
    transform: translateX(100%);
}

.main-navigation-toggle:checked ~ .main-content {
    transform: translateX(10%);
}

.main-navigation-toggle:checked ~ .main-navigation {
    transition-duration: 0s;
    transform: translateX(0);
}

    .main-navigation-toggle:checked ~ .main-navigation:after {
        animation: nav-bg var(--nav-duration) var(--ease) forwards;
    }

    .main-navigation-toggle:checked ~ .main-navigation li:after {
        animation: nav-line var(--duration) var(--ease) forwards;
    }

    .main-navigation-toggle:checked ~ .main-navigation a {
        animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
    }

    .main-navigation-toggle:checked ~ .main-navigation li:nth-child(1):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(1) a {
        animation-delay: calc((var(--duration) / 2) * 1 * 0.125);
    }

    .main-navigation-toggle:checked ~ .main-navigation li:nth-child(2):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(2) a {
        animation-delay: calc((var(--duration) / 2) * 2 * 0.125);
    }

    .main-navigation-toggle:checked ~ .main-navigation li:nth-child(3):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(3) a {
        animation-delay: calc((var(--duration) / 2) * 3 * 0.125);
    }

    .main-navigation-toggle:checked ~ .main-navigation li:nth-child(4):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(4) a {
        animation-delay: calc((var(--duration) / 2) * 4 * 0.125);
    }

@keyframes nav-bg {
    from {
        transform: translateX(-100%) skewX(-15deg);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes nav-line {
    0% {
        transform: scaleX(0);
        transform-origin: 0 50%;
    }

    35% {
        transform: scaleX(1.001);
        transform-origin: 0 50%;
    }

    65% {
        transform: scaleX(1.001);
        transform-origin: 100% 50%;
    }

    100% {
        transform: scaleX(0);
        transform-origin: 100% 50%;
    }
}

@keyframes link-appear {
    0%, 25% {
        transform: translateY(100%);
    }

    50%, 100% {
        transform: translateY(0);
    }
}


/*Registration Form*/

#grad1 {
    margin-top: 5rem;
    background-image: linear-gradient(141deg, hsla(0, 78.72%, 63.14%, 1.00), hsla(0, 78.72%, 63.14%, 1.00) 28%, hsla(0, 0.00%, 13.33%, 1.00));
    min-width: 600px;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 25px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
}

#msform input {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
}

    #msform input:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: none;
        font-weight: bold;
        border-bottom: 2px solid #eb5757;
        outline-width: 0;
    }

#msform .action-button {
    width: 150px;
    background: #9E9E9E;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

    #msform .action-button:hover,
    #msform .action-button:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #eb5757
    }

    #msform .action-button-previous {
        width: 150px;
        background: #eb5757;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 25px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px
    }

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

    #msform .tips {
        padding-left: 22px;
        line-height: 24px;
        color: dimgrey;
    }

    #msform .invalid-pwd {
        background: url("../Images/cross.png") no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #ec3f41;
    }

    #msform .valid-pwd {
        background: url("../images/accept.png") no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #3a7d34;
    }

#msform p{
    margin: 0px;
}

#msform span{
    font-size: 0.95rem;
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 30%;
    float: left;
    position: relative;
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1;
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #eb5757;
    }

.fit-image {
    width: 100%;
    object-fit: cover
}

@media (max-width: 600px){

}

#pwd-message{
    font-size: 1rem;
}

#pwd-message p {
    font-size: 0.95rem;
}

#redirect {
    color: #9e9e9e;
}

#redirect:hover {
    color: #eb5757;
    text-decoration: none;
}


/*Title*/
.headerTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    z-index: 10;
    margin-top: 10px;
    margin-left: 11px;
    position: relative;
    left: -50%;
    opacity: 0;
    color:rgb(208,208,208);
    text-shadow:3px 3px 3px black;


    animation-name: fadeInDelay;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 2.2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}


/*Logo Stylings*/
.logoImage {
    width: 70px;
    height: 70px;
    display: block;
    position: relative;
    left: -50%;
    margin: 2px auto 0 auto;
    z-index: 1;
}

.logoAddonWrap {
    position: absolute;
    left:50%;
    top:0;
    z-index:1;
}

.logoAddon1 {
    position: relative;
    width: 70px;
    height: 70px;
    left: -50%;
    top: 0;
    margin-right: 55px;
    z-index: 2;

    animation-name: slideOutLeft;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.logoAddon2 {
    position: relative;
    width: 70px;
    height: 70px;
    left: -50%;
    top: 0;
    margin-left: 55px;
    z-index: 2;

    animation-name: slideOutRight;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes slideOutLeft {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 0;
    }
}


@keyframes slideOutRight {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInDelay {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}