@model TravelExpertsWebApp.Models.CustomerModel
@{
    ViewData["Title"] = "Registration";
    Layout = "_Layout";
}

<!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-3">
        <div class="col-11 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2><strong>Sign Up Your User Account</strong></h2>
                <p>Fill all form field to go to next step</p>
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform" asp-action="Add">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="account"></i><strong>Account</strong></li>
                                <li id="personal"><strong>Personal</strong></li>
                                <li id="confirm"><strong>Finish</strong></li>
                            </ul> <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Account Information</h2>
                                    <div class="form-group">
                                        <label asp-for="UserLogin" class="control-label"></label>
                                        <input asp-for="UserLogin" class="form-control" />
                                        <span id="username" asp-validation-for="UserLogin" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="UserPass" class="control-label"></label>
                                        <input type="password" asp-for="UserPass" class="form-control" />
                                        <span asp-validation-for="UserPass" class="text-danger"></span>
                                        <div id="pwd-message">
                                            <strong>Password must contain the following:</strong>
                                            <p id="letter" class="tips">At least one letter</p>
                                            <p id="capital" class="tips">At least one captail letter</p>
                                            <p id="number" class="tips">At least one number</p>
                                            <p id="length" class="tips">At least 8 characters</p>
                                        </div>
                                    </div>
                                </div> <input type="button" name="next" class="next action-button" value="Next Step" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Personal Information</h2>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="FirstName" class="control-label"></label>
                                            <input asp-for="FirstName" class="form-control" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label asp-for="LastName" class="control-label"></label>
                                            <input asp-for="LastName" class="form-control" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-8">
                                            <label asp-for="Address" class="control-label"></label>
                                            <input asp-for="Address" class="form-control" />
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label asp-for="City" class="control-label"></label>
                                            <input asp-for="City" class="form-control" />
                                            <span asp-validation-for="City" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-4">
                                            <label asp-for="Prov" class="control-label"></label>
                                            <input asp-for="Prov" class="form-control" />
                                            <span asp-validation-for="Prov" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-4">
                                            <label asp-for="Postal" class="control-label"></label>
                                            <input asp-for="Postal" class="form-control" />
                                            <span asp-validation-for="Postal" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-4">
                                            <label asp-for="Country" class="control-label"></label>
                                            <input asp-for="Country" class="form-control" />
                                            <span asp-validation-for="Country" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="HomePhone" class="control-label"></label>
                                            <input asp-for="HomePhone" class="form-control" />
                                            <span asp-validation-for="HomePhone" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label asp-for="BusPhone" class="control-label"></label>
                                            <input asp-for="BusPhone" class="form-control" />
                                            <span asp-validation-for="BusPhone" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div> 
                                <input type="button" name="previous" class="btn previous action-button-previous" value="Previous" />
                                <input type="button" name="next" class="btn next action-button" value="Next Step" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title text-center">Success !</h2> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                                    </div> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h3>You Have Successfully Signed Up</h3>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{ 
    <script>
        $(document).ready(function () {

            $('input[type=password]').keyup(function () {
                let pswd = $(this).val();

                // reset the border back to the default while typing
                $('#pwd').css('border', '1px solid #ced4da');

                //validate at least one letter
                if (pswd.match(/[A-z]/)) {
                    $('#letter').removeClass('invalid').addClass('valid');
                } else {
                    $('#letter').removeClass('valid').addClass('invalid');
                }

                //validate at least one capital letter
                if (pswd.match(/[A-Z]/)) {
                    $('#capital').removeClass('invalid').addClass('valid');
                } else {
                    $('#capital').removeClass('valid').addClass('invalid');
                }

                //validate at least one number
                if (pswd.match(/\d/)) {
                    $('#number').removeClass('invalid').addClass('valid');
                } else {
                    $('#number').removeClass('valid').addClass('invalid');
                }

                //validate the length
                if (pswd.length < 8) {
                    $('#length').removeClass('valid').addClass('invalid');
                } else {
                    $('#length').removeClass('invalid').addClass('valid');
                }
            });

            
            var current_fs, next_fs, previous_fs; //fieldsets
            var opacity;

            $(".next").click(function () {

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //add class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();

                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fieldset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({ 'opacity': opacity });
                    },
                    duration: 600
                });
            });

            $(".previous").click(function () {

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //Remove class active
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();

                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        previous_fs.css({ 'opacity': opacity });
                    },
                    duration: 600
                });
            });

            $(".submit").click(function () {
                return false;
            })

        });

        // validate password //
        $(document).ready(function () {

            

            // convert to uppercase
            $('#zipcode').keyup(function () {
                $(this).val($(this).val().toUpperCase());
            });

        });
    </script>

}