@model TravelExperts.Repository.Domain.Customer

@{
    ViewData["Title"] = "Manage";
}

<h3>Edit Your Information</h3>
<hr />

<div class="container">
    <form asp-action="Manage">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CustomerId" />
        <h4 class="text-center">Customer Information</h4>
        <div class="row d-flex justify-content-center">
            <div class="form-group col-md-4">
                <label asp-for="CustFirstName" class="control-label"></label>
                <input asp-for="CustFirstName" class="form-control" />
                <span asp-validation-for="CustFirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CustLastName" class="control-label"></label>
                <input asp-for="CustLastName" class="form-control" />
                <span asp-validation-for="CustLastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-4">
                <label asp-for="CustAddress" class="control-label"></label>
                <input asp-for="CustAddress" class="form-control" />
                <span asp-validation-for="CustAddress" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CustCity" class="control-label"></label>
                <input asp-for="CustCity" class="form-control" />
                <span asp-validation-for="CustCity" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-4">
                <label asp-for="CustProv" class="control-label"></label>
                <input asp-for="CustProv" class="form-control" />
                <span asp-validation-for="CustProv" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="CustPostal" class="control-label"></label>
                <input asp-for="CustPostal" class="form-control" />
                <span asp-validation-for="CustPostal" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-4">
                <label asp-for="CustCountry" class="control-label"></label>
                <input asp-for="CustCountry" class="form-control" />
                <span asp-validation-for="CustCountry" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CustHomePhone" class="control-label"></label>
                <input asp-for="CustHomePhone" class="form-control" />
                <span asp-validation-for="CustHomePhone" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-4">
                <label asp-for="CustBusPhone" class="control-label"></label>
                <input asp-for="CustBusPhone" class="form-control" />
                <span asp-validation-for="CustBusPhone" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CustEmail" class="control-label"></label>
                <input asp-for="CustEmail" class="form-control" />
                <span asp-validation-for="CustEmail" class="text-danger"></span>
            </div>
        </div>

        <h4 class="text-center">Login Information</h4>
        <div class="row justify-content-center">
            <div class="form-group col-md-4">
                <label asp-for="UserLogin" class="control-label"></label>
                <input asp-for="UserLogin" class="form-control" />
                <span asp-validation-for="UserLogin" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="UserPass" class="control-label"></label>
                <input asp-for="UserPass" class="form-control" />
                <span asp-validation-for="UserPass" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

