@*Tiny partial by Eric*@

@using System.Security.Claims;
@{
    var fName = string.Empty;

    @if (User.Identity.IsAuthenticated)
    {
        fName = ((ClaimsIdentity)User.Identity).FindFirst("FirstName").Value;
    }

}

@if (User.Identity.IsAuthenticated)
{
<div>Hello, @fName!</div>
}
